<% provide(:title, '一覧') %>
<h1>基本情報の修正</h1>

<!--【勤怠B】No.9-->
<div class="user-search col-sm-4">
  <h4>ユーザー検索</h4>
  <%= form_tag(users_path, method: :get) %>
  <%= text_field_tag :name, params[:name], placeholder: "キーワードを入力…", class: 'form-control col-sm-2' %>
  <%= submit_tag "検索", class: "btn btn-primary col-sm-2" %>
</div>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>  <!--【勤怠B】No.5-->

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name , user %>
      <% if current_user.admin? %>
        | <%= link_to "基本情報の編集", basic_info_path(user) %>
      <% end %>
    </li>
  <% end %>

</ul>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>  <!--【勤怠B】No.5-->
