<% provide(:title, '拠点一覧') %>
<h1>拠点一覧</h1>

<a type="button" class="btn btn-primary" data-toggle="modal" 
  data-target="#sampleModal">拠点情報追加</a>


<div class="modal fade" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
　　　<!--モーダルを閉じる×ボタンを作る-->
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
　　　　<!--モーダルのタイトル-->
        <h4 class="modal-title" id="Modal">拠点登録</h4>
       </div>  <!--modal-header終わり-->
       <div class="modal-body">
         <%= form_for @base do |f| %>
         <!--拠点番号のフォーム-->
           <%= f.label :base_number %>
           <%= f.text_field :base_number, class: 'form-control' %>
         <!--拠点名のフォーム-->
           <%= f.label :name %>
           <%= f.text_field :name, class: 'form-control' %>
         <!--勤怠種類のフォーム-->
           <%= f.label :type %>
           <%= f.text_field :type, class: 'form-control' %>           
           
           <%= f.submit "作成する", class: 'form-control' %>
         <% end %>
       </div>  <!--modal-body終わり-->

       <div class="modal-footer">
         <!--モーダルを閉じるボタン-->
         <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
       </div>  <!--modal-footer終わり-->
       
    </div>
  </div>
</div>  
          
  <script>
  // ボタンがクリックされてモーダルが開いたら作動
  $('#sampleModal').on('show.bs.modal', function (event) { 
  // クリックされたbuttonを取得
  var button = $(event.relatedTarget); 
  // 上記の中の、data-date, data-week の値を取得
  var base_number = button.data('base_number'); 
  var name = button.data('name');
  var type = button.data('type');
  
  // クリックされているsampleModal要素を取得
  var modal = $(this); 
                
  // sampleModalの中のmodal-date,modal-weekという要素を取得し、そこにdata-dateの値を入れる。これでクリックした日付の日付がモーダル内に入る
  modal.find('.modal-base_number').text(base_number);
  modal.find('.modal-name').text(name);
  modal.find('.modal-type').text(type);
  });
  </script>            